.header_container {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  height: 600px;
  width: 100%;
  background-image: url("https://media.rawg.io/media/games/511/5118aff5091cb3efec399c808f8c598f.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* position: relative; */

}

.image{
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  height: 600px;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.title_container{
 position: relative;
 top: 240px; 
 right: 230px; 
 font-size: 95px;
 color: white;
 text-shadow: -1.5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


}