.fav_button{
  border-radius: 0%;
  position: relative;
  top: 110px; 
  left: 320px; 
    padding: 0;
    height: 50px;
    width: 90px;
    background-color: #D40107;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.478);
  }