@i@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:wght@300&family=Raleway:wght@200;300;500&display=swap');

/* import */
.game_container{
  display: flex;
  justify-content: space-evenly;

}

.game_name{
  color: white;
}

.image_container{
  width: 100vw;
  height: 80vh;
 position: relative;
  align-content: center;
}
.image{
width: 100vh;
height: 80vh;
   object-position: center;
   object-fit: cover;
   margin-left: 50px;
   border-radius: 5%;
   margin-top: 20px;
}
.detail_container{
  margin: 40px 80px 80px 80px;

}
.games_details{
  background-color: white;
  border-radius: 5%;
  width: 30vw;
  padding:20px;
  
}
.genre{
  display: flex;
}

.genre_text{
 padding-top: 12px;
 padding-left: 5px;
 font-family: 'Raleway', sans-serif;
}

.decription_text{
  font-family: 'Raleway', sans-serif;
}

.reviews{
  color: white;
}
.review_section{
  width: 50vh;
  height: 40vh;
  background-color: white ;
  border-radius: 20px;
  margin-left: 66%;
}

.fav_button{
border-radius: 0%;
position: relative;
top: 20%; 
left: -80%; 
  padding: 0;
  height: 50px;
  width: 90px;
  background-color: #D40107;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.478);

  text-align: center;
}

.comment_section{
  margin-top: -25%;
  padding-top: 80px;
}

.comment_text{
  margin-left: 65px;
}
.decription_text{
  overflow: auto;
}

@media (max-width: 500px) {
  .games_details {
    width: 35vh;
    height: auto;
    margin: 50px;
   
  }
  .image_container{
  width: 40vh;
  height: 60vh;
  margin-right: 30px;
  }

  .image{
    width: 40vh;
  height: 40vh;
  margin-left: 15px;

  }
  .game_container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: baseline;
    margin-top: -20px;
    margin-bottom: -40px;
  }
  .fav_button{
    border-radius: 0%;
    position: relative;
    top: 20%; 
    left: 20px; 
      padding: 0;
      height: 50px;
      width: 90px;
    }
    .comment_section{
      text-align: center;
      margin: 10px;
    }
    .comment_text{
      margin: 35px;
    }

    .review_section{
      width: 80%;
      height: 40vh;
      padding: 10px;
      border-radius: 50px;
      overflow: auto;
      margin-left: 20px;
    }

    .game_name{
      font-size: 3vh;
      margin: 10px;
    }
}


