.game_image{
  width:350px;
   height: 400px;
   object-position: center;
   object-fit: cover;
   margin-right: 10px;
   border-radius: 10%;
   margin-top: 20px;
  
  
  }
  .card_container {
    width: 400px;
    height: 500px;
    overflow: hidden;
    color:white;
    margin:25px;
    border-radius: 10%;
    align-content: center;
    }
    
    .image_container{
      
    }
    