.reviewbox {
  width: 35vh;
  height: 40vh;
  padding: 10px;
  overflow: auto;
}


.review{
  overflow: auto;
  overflow: hidden;
} 

.reviewavatar{
  border-radius: solid 1px black 50%;
  height: 50px;
  width: 50px;
  margin-left: 50px;
}

.display_reviews {
  background-color: white;
  border-radius: 20px;
}

.avatar_icon {
  max-width: 5vw;
  max-height: 5vh;
  border-radius: 40px;
  padding: 7px;
}

.review_container{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
}
