<<<<<<< HEAD

=======
/* 
>>>>>>> 9d4e7703ca4342d37d6bf2aae566ad8a85b09ed0
.reviewbox {
  width: 40vh;
  height: 40vh;
  padding: 10px;
  border-radius: 50px;
  overflow: auto;
}
<<<<<<< HEAD

=======
.review{

} */
>>>>>>> 9d4e7703ca4342d37d6bf2aae566ad8a85b09ed0
