@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.header {
  color: red;
  font-size: 55px;
  text-align: center;
  /* border: 2px solid green */
}

.form_body {
  padding: 10px 0px;
  background-color: lightgray;
  margin: 50px, auto;
  border-radius: 10px;
  max-width:500px; 
  margin:50px auto; 
  height: 100%;
  text-align: center;
  justify-content: center;
  /* border: 2px solid pink; */
}

.button { 
  border-radius: 100px;
  color: white;
  background-color: black;
  padding: 0px 10px;
  height: 5vh;
  font-size: 25px;
  margin: 10px 0px;
}

.input {

  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 20px;
  padding: 13px;
  margin: 15px;
  width:60%;
  box-sizing: border-box;
  outline:0;
}
.white_logo{
color:white
}

.black_logo{
color: #D40107;
}


.back_arrow {
  display: flex;
  justify-content: flex-start;
  /* border: 2px solid cyan; */
  margin: 4px 10px;
  color: white;
  font-size: 6vw;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

/* @media screen and (max-width: 500px) {
  .header {
    font-size: 6vw;
  }

  .form_body {
    margin: 80px 300px;
  }

  .button {
    font-size: 2vw;
  }

  .back_arrow {
    font-size: 3vw;

  }

} */

@media (max-width: 500px) {
  .button {
    font-size: 5vw;
    margin-bottom: 10px;
  }
  .form_body{
    width: 40vh;
    height: 30vh;
    text-align: center;
    width:500px; 
  margin:50px auto;
  
  }
  .header {
    font-size: 10vw;
    text-align: center;
  }
}