.image{
  border-radius: 50%;
  height: 65%;
  width: 65%;
}

.content{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}