.footer{
  display: block;
    height: 250px;
    background-color: #D40107;
    align-content: center;
}

.logobox{
  align-items: center ;
  margin:40%;
}

.logo{
  width: 24px;
  height:24px;
  padding: 10px;
  background-image: url(http://www.w3.org/2000/svg);
  text-align: center;
  margin-top: 80px;
  /* margin-left: 50px;
  margin-right: 50px; */
}

.rawlink{
  text-decoration: none;
  margin-left: 20px;
}

@media (max-width: 500px) {
  .logobox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: nowrap;
    align-items: flex-end;
   
    
  }
 
}