.footer{
  display: block;
    height: 250px;
    margin-top: auto;
    background-color: #D40107;
}

.logo{
  width: 24px;
  height:24px;
  padding: 10px;
  background-image: url(http://www.w3.org/2000/svg);
  align-content: center;
  margin-top: 80px;
}