@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

h1, h2, h3{
  font-family: 'Poppins', sans-serif;
  color: #D40107;
}
body{
  background-color: black;
  margin-bottom:0;
}

button{
  pointer-events: auto;
	cursor: pointer;
	background: black;
	border: none;
  border-radius: 60px;
  color: white;
	padding: 10px;
	margin: 20px;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

link{
text-decoration: none;
}

@media (max-width: 500px) {
  .button{
	border: none;
  border-radius: 10px;
	padding: 5px;
	margin: 10px;
	font-family: inherit;
	font-size: inherit;
  
  }
  

}
