@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.header {
  color: red;
  font-size: 50px;
  text-align: center;
}

.form_body {
  padding: 10px 0px;
  background-color: lightgray;
  margin: 50px, auto;
  border-radius: 10px;
  max-width:500px; 
  margin:50px auto; 
  height: 100%;
  text-align: center;
  justify-content: center;
}

.button {
  border-radius: 100px;
  color: white;
  background-color: black;
  padding: 0px 10px;
  height: 5vh;
  font-size: 25px;
  margin: 10px 0px;
}

.input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 20px;
  padding: 13px;
  margin: 15px;
  width:60%;
  box-sizing: border-box;
  outline:0;
  
}

.back_arrow {
  display: flex;
  justify-content: flex-start;
  margin: 4px 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 6vw;
  text-decoration: none;
}

.white_logo{
  color:white
}

.red_logo{
  color:#D40107
}

@media (max-width: 500px) {
  .button {
    font-size: 5vw;
    margin-bottom: 10px;
  }
  .form_body{
  width:80%; 
  margin:50px auto; 
  height: 100%;
  text-align:center;
  align: center;
  
  }
  .header {
    font-size: 10vw;
    text-align: center;
  }
}