.header {
  color: red;
  font-size: 13vw;
  /* border: 2px solid green */
}

.form_body {
  padding: 10px 0px;
  background-color: lightgray;
  margin: 70px 70px;
  border-radius: 10px;
  border: 2px solid pink;
}

.button {
  /* border: 2px solid red; */
  border-radius: 5px;
  color: white;
  background-color: black;
  padding: 0px 10px;
  height: 5vh;
  font-size: 5vw;
  margin: 10px 0px;
}

.input {
  padding: 10px 50px;
  border-radius: 10px;
  margin: 30px 0px;
  /* border: 2px solid blue; */
}

@media screen and (min-width: 800px) {
  .header {
    font-size: 6vw;
  }

  .form_body {
    margin: 0px 300px;
  }

  .button {
    font-size: 2vw;
  }

  .input {
    padding: 10px 90px;
  }

}