.form {
  width: 40%;
  height: 100px;
  padding: 10px;
  border-radius: 20px;
 
}
.form_body{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: baseline;
    margin-left: 50px;
    margin-top: 100px;
}

.button{
background-color: #D40107
}

@media (max-width: 500px) {
  .form_body{
    display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    margin-left: 15px;
  }
}