.navbar{
  background-color: #D40107;
  position: relative;
  display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.auth{
  background-color: #D40107;
  position: relative;
  display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.noauth{
  background-color: #D40107;
  position: relative;
  display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}