.navbar{
  background-color: #D40107;
  position: relative;
  display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.auth{
  background-color: #D40107;
  position: relative;
  display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.noAuth{
  background-color: #D40107;
  position: relative;
  display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.noAuthHeader{
  background-color: #d4010800;
  position: absolute;
  display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}

.authHeader{
  background-color: #d4010800;
  position: absolute;
  display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}