
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');


/* /.navbar{
  background-color: #D40107;
  position: relative;
  display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}  */

 .auth{
  background-color: #D40107;
  position: relative;
  display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;  
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.478);
}

 .noauth{
  background-color: #D40107;
  position: relative;
  display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.478);
} 


.logo{
  padding: 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: black;

}
.logo_title{
  text-decoration: none;
}
.logo_title2{
  text-decoration: none;
}

.white_logo{
  color:white
}

.black_logo{
  color:black
}
link{
  text-decoration: none;
}

/* .noAuthHeader{
  background-color: #ff0008;
  position: absolute;
  display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}  */
